
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='postCont.css') }}">

			<div id="nfCont">

		
						<div class="upldImgcont"> 
							<img class="upldImg" src="{{ image_file+i.Img_id   }}.jpg" alt=""  class="signup_form_prof_pic" />
						</div>
		
		 			{% include 'PostContainer.html' %}						
				 	{% include 'PostContainer.html' %}
		 			{% include 'PostContainer.html' %}						
		 			{% include 'PostContainer.html' %}						
		 			{% include 'PostContainer.html' %}						
		 			{% include 'PostContainer.html' %}				
				 							
			
			</div>




