
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='peopleInArea.css') }}">


				<div class="popularProjectsCont">
					

					<div class="projectsInUrArea">
						<div class="pstUsrInfo">
							<div class="pstUsrImg"><img class="post_img"  src="https://source.unsplash.com/collection/781477/1000x1000">
								<div class="SkillTag">MODEL // ACTOR</div>
							</div> 
						  </div>
						<div class="popProImg"></div>
						<div class="pstUsrName"></div>

					</div>
						<div class="pstUsrName">Username</div>
		</div>

