

	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='postCont.css') }}">

	<div class="photoPostCont">

		<div class="contMargin">
				<div class="post">
			

			<div id="pstcontent"><div id="profile_pic"> <img class="post_img"  src="https://source.unsplash.com/random"></div></div>

			<div id="pstInfoTop">
					<div class="userPhoto">
						<div >
							<img class="post_img"  src="https://source.unsplash.com/random">
					</div>
				</div>


					<div class="userName">
						Tino Kingstone <div class="UsrPstMeta">@SonOfKings</div> 

						<div class="skilltagcont">
							<div class="skilltag">Music Producer</div>
							<div class="skilltag">3d Artist</div>
						</div>


						<div class="timePostes">. 12hr</div>
					</div>
				</div>
			

		</div>
		</div>
	</div>

<div class="btmBuffer" style="width: 100%; height:0px; display: inline-block; float: left; background-color: ;">
	
</div>





