
@font-face{
	font-family: "CircularStd-Bold";
	src:url('CircularStd-Bold.eot') format('embedded-opentype'),
	url('CircularStd-Bold.otf') format('opentype');
}



#headerBar{
	margin: 0;
	position:fixed;
	width:100%;
	height: 40px;
	float: right;
	display: inline-block;
	 background-color: white;

	 border-bottom: #E5E5E5 1px solid;
}

#plug_logo{
	width:100px;
	height: 40px;
	background-color: ; 
	background-image: url("plug_logo_blk.png");
	float: left;
}

#menu_icons{
	width:80px;
	height: 40px;
	background-color: ; 
	float: right;
	display: inline-block;
	}

#profile_icon_cont{
	width:40px;
	height: 40px;
	background-color: ; 
	display: inline-block;
}

#profile_icon{
	width:20px;
	height: 20px;
	background-color: ; 
	background-image: url("profile_icon.png");
	margin-top: 10px;	
	margin-left: 10px;	
	border-radius: 50px;
	 transition: all 0.5s ease;
}
#profile_icon:hover{
	width:20px;
	height: 20px;
	background-color: #d3d3d3 ; 
	background-image: url("profile_icon.png");
	margin-top: 10px;	
	margin-left: 10px;	
	border-radius: 50px;
}

#log_in_form_container{
	width:450px;
	height: 0px;
	background-color:; 
	margin-top: 60px;
	margin-right: -40px;	
	border-radius: 5px;
	 transition: all 0.5s ease;
	 float: right;
	 display: inline-block;
	 overflow: hidden;
	  visibility: hidden;
	  box-shadow:0px 0px 10px rgba(0,0,0,0.40);
	  padding-bottom: 10px;
}


#log_in_form_container.open{
	width:450px;
	height: 150px;;
	background-color:; 
	margin-top: 60px;
	margin-right: -40px;	
	border-radius: 2.5px;
	 transition: all 0.5s ease;
	 float: right;
	 display: inline-block;
	 overflow: hidden;
	  visibility: visible;
	  box-shadow:0px 0px 10px rgba(0,0,0,0.40);
	  padding-bottom: 10px;
	  
}

#log_in_form{
	width:100%;
	height: 155px;
	background-color: white; 
	 float: right;
	 display: inline-block;
	 overflow: hidden;
	 padding-bottom: 10px;
}

#top_bar{
	width: 100%;
	height: 15px;
	display: inline-block;
	background-color: ;
	float: left;
}

#bottom_bar{
	width: 100%;
	height: 30px;
	display: inline-block;
	background-color:;
	float: left;
}

.signIn_form_txt_field_cont{
	width: 93%;
	margin-left: 3.5%;
	height: 40px;
	margin-top:10px;
	background-color: #303030;
	border-radius: 1px;
	display: inline-block;
	float: left;
	overflow: hidden;
}

.signIn_form_btn_cont{
	width: 20%;
	margin-right: 3.5%;
	height: 20px;
	margin-top:15px;
	background-color: #1db954;
	border-radius: 2.5px;
	display: inline-block;
	float: right;
	overflow: hidden;
	color: white;
	 font-family: "CircularStd-Bold",serif;
	 font-size: 15px;
	 cursor:grab;
	 transition: all 1.5s ease;
	 border: none;}

.signIn_form_btn_cont:hover{
	width: 20%;
	margin-right: 3.5%;
	height: 20px;
	margin-top:15px;
	background-color: #00aa34;
	border-radius: 2.5px;
	display: inline-block;
	float: right;
	overflow: hidden;
	color: white;
	 font-family: "CircularStd-Bold",serif;
	 font-size: 15px;
	 cursor:grab;
	 transition: all 1.5s ease;
	 border: none;
}

.logout_form_btn_cont{
	width:auto;
	margin-right: 3.5%;
	height: 20px;
	margin-top:15px;
	background-color: red;
	border-radius: 2.5px;
	display: inline-block;
	float: right;
	overflow: hidden;
	color: white;
	 font-family: "CircularStd-Bold",serif;
	 font-size: 15px;
	 cursor:grab;
	 transition: all 1.5s ease;
	 border: none;}

.logout_form_btn_cont:hover{
	width:auto;
	margin-right: 3.5%;
	height: 20px;
	margin-top:15px;
	background-color: red;
	border-radius: 2.5px;
	display: inline-block;
	float: right;
	overflow: hidden;
	color: white;
	 font-family: "CircularStd-Bold",serif;
	 font-size: 15px;
	 cursor:grab;
	 transition: all 1.5s ease;
	 border: none;
}



.btn_txt{
	margin-left:20px;
	margin-top: 2.2px;
}

.form_title{
	 margin-top: 20px;
	 font-family: "Verdana", Times, serif;
	 font-size: 11px;
	  color: #d3d3d3;
	  font-weight: 500;
	  margin-left: 3.5%;
	  float: left;
	  	display: inline-block;
	  	background-color:;
}

.form_title2{
	 font-family: "Verdana", Times, serif;
	 font-size: 8px;
	  color: white;
	  font-weight: 500;
	  float: right;
}

.form_title3_cont{
	width: 30%;
	height: 10px;

	 font-family: "Verdana", Times, serif;
	 font-size: 11px;
	  color: #d3d3d3;
	  margin-top: 10px;
	  margin-left: 10px;
	  font-weight: 50;
	  float: left;
}

.form_title4_cont{
	width: 18%;
	height: 10px;

	 font-family: "Verdana", Times, serif;
	 font-size: 11px;
	  color: #d3d3d3;
	  margin-top: 10px;
	  margin-left: 10px;
	  font-weight: 50;
	  float: right;
}

.form_title2_cont{
	float: right;
	background-color: ;
	width:80px;
	height: 10px;
	margin-top:3px; 

}

#log_in_btn{
	width: 100px;
	height: 50px;
	float: right;
	background-color: white;
	margin-top: -1.05px;
}

.sign_up_btn{
	
	 width: 100px;
	 height: 20px;
	 margin-top: -5px;
	 background-color:;
	  	  float: left;
	  	   padding-left:0px;
	   
}

input[type=text] {
    width: 100%;
    height: 100% ;
    margin-left: 0;
    background-color:#303030 ;  
    border-style: hidden;
    padding-left: 10px;  
     color: white;
}



input[type=password] {
    width: 100%;
    height: 100% ;
    margin-left: 0;
    background-color:#303030 ;  
    border-style: hidden;
    padding-left: 10px;  
    color: white;
}


input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
     -webkit-appearance: none;
    -moz-appearance: none;
}



.topNavBarBG{
	width: 100%;
	height: 40px;
	background-color: white;
	display:inline-block;
	float: left;
	margin-top: -10px;
	  opacity: 0.2;
	  	z-index: -2;

}
.topNavBar{
	width: 100%;
	height: 40px;
	background-color: ;
	display:inline-block;
	float: left;
	z-index: 1;
	  position: absolute;
	  	  margin-top: 40px;
}

.navBtnCont{
	width: 50%;
	height: auto;
	margin: auto;
	background-color: ;
}

.navBtn{
	width: auto;
	height: auto;
	float: right;
	border-radius: 2.5px;
	background-color: white;
	margin-right:5px;
	margin-top: 5px;
	padding: 5px;
	font-size: 15px;
	font-family: "CircularStd-Bold",serif;
	color: #232323;
	  text-decoration: none;


}

////////////////////////////////////bg



#background{
	width: 100%;
	height: 100vh;
	background-color: #1e1e1e;
	float: left;
	background-size: 100%;
	margin: 0;
}