body{
	margin: 0;
	width: 100%;
	height: 100vh;
	float: left;
	display: inline-block;
	overflow: scroll;
}

#srchbox{
margin: 0;

}

.Super_container{
	background-color:;
	width: 100%;
	height: 100vh;
	display: inline-block;
	float: left;
	margin: 0;
	background-color: #FFFFFF;  
	overflow: hidden;

}
.alert{
	width: 100%;
	height: 10vh;
	background-color: red;
}
