.photoPostCont{
	width:400px;
	height: auto;
	background-color:;
	margin: 9px;
	border-radius: 5px;
	overflow: hidden;
	display: inline-block;
	float: left;
}

.contMargin{
	width: 395px;
	height: 99%;
	margin-top: 0.5%;
	margin-left: 2.5px;
	background-color: ;
}

.post{
	width: 100%;
}

.contLine{
	width: 100%;
	height: 1px;
	background-color:#CCCCCC;
	display: inline-block;
	float: left;
	margin-top: 10px;
}

#pstInfoTop{
width: 100%;
height: auto;
background-color:;
display: inline-block;
float: left;
margin-top:;
padding: px;
 cursor: pointer;
opacity:1;
}

@font-face{
	font-family: "CircularStd-Bold";
	src:url('CircularStd-Bold.eot') format('embedded-opentype'),
	url('CircularStd-Bold.otf') format('opentype');
}


#pstcontent{
width: 100%;
max-width: 100%;
max-height: auto;
height: auto;
background-color: ;
display: inline-block;
	float: left;
	border-radius: 5px;
	overflow: hidden;
}

#pstcontent:hover{
width: 100%;
max-width: 100%;
max-height: auto;
height: auto;
background-color: ;
display: inline-block;
	float: left;
	border-radius: 5px;
	overflow: ;
}

.post_img{
	width: 100%;
	filter: blur(0px);
	background-color: #232323;
}

.post_prof_img{
	width: 100%;
	position: relative;
	background-color: #232323;

}
#pstInfoBtm{
width: 100%;
height: 80px;
background-color: #232323;
display: inline-block;
	float: left;

	 border-bottom-left-radius: 5px;
	 border-bottom-right-radius: 5px;
	 	margin-top:-5px;

	 		 font-family: "CircularStd-Bold",serif;
	 color: white;
	 padding-top:2.5px; 
	 font-size: 20px;
}
.postTitle{
	margin-left: 2.5%;
		margin-top:5px;
	display: inline-block;
	float: left;
	width: 100%;
}
.postDescription{
	margin-left: 2.5%;
	margin-top:30px;
	font-family: Arial, Helvetica, sans-serif;
	color: #9B9B9B;
	font-size: 15px;
}

.postDescription:hover{
	margin-left: 2.5%;
	margin-top:30px;
	font-family: Arial, Helvetica, sans-serif;
	color: #D8D8D8;
	font-size: 15px;
}

.UsrPstMeta{
	margin-left: ;
	margin-top:0px;
	font-family: Arial, Helvetica, sans-serif;
	color: #D8D8D8;
	font-size: 15px;
}

.userPhoto{
	width: 40px;
	height: 40px;
	margin:10px;

	
	background-color: #232323;
	display: inline-block;
	float: left;
	border-radius: 50px;
	overflow: hidden;
}
.userName{
	width: 70%;
	height: 80px;
	margin:10px;
	background-color:;
	display: inline-block;
	float: left;
	border-radius: 5px;
	margin-left: 2.5%;
	font-family: "CircularStd-Bold",serif;
	 color: black;
	 padding-top:2.5px; 
	 font-size: 20px;

	   z-index: 1;
	     position: relative;
}

.timePostes{
	float: right;
	display: inline-block;
	font-size: 11px;
}
.skilltagcont{
	width: auto;
	height: 30px;
	display: inline-block;
	background-color: ;
	margin-top:10;
	margin-right: -35px;
	overflow: hidden;
	float: left;
}
.skilltag{
	width: auto;
	height: auto;
	float: left;
	border-radius: 5px;
	background-color:black;
	border:solid 1px black;
	margin-right:5px;
	padding: 5px;
	font-size: 13px;
	font-family: "CircularStd-Bold",serif;
	color: white;
}

.skilltag:hover{
	width: auto;
	height: auto;
	float: left;
	border-radius: 5px;
	background-color:white;
	margin-right:5px;
	padding: 5px;
	font-size: 13px;
	font-family: "CircularStd-Bold",serif;
	color: black;
}

.infoOverlay{
	
	width: 100%;
	height: 100%;
	background-color: ;
	display: inline-block;
	float: left;
	margin-top: 0px;
	
}


.projectDescription{
	width: 375px;
	height: 80px;
	margin-left: -70px;
	background-color: #232323;
	border-radius: 5px;
	margin-top: 20px;
	opacity:0.0;

}